/* new styles sheet */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  /* colors from your palette */

  --primary-color: #b0ccc0;
  --secondary-color: #f58d4e;
  --accent1-color: #fedece;
  --accent2-color: #fd9f96;
  --accent3-color: #fedad6;
  
  /* chosen font(s) */
  --heading-font: "Poppins";
  --paragraph-font: Lexend, "Open Sans", sans-serif;

  /* palette colors */
  --headline-color-on-white: #b0ccc0;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #444; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #fd9f96  ;
  --nav-link-color: white;
  --nav-background-color: #f58d4e;
  --nav-hover-link-color: #f58d4e;
  --nav-hover-background-color: #fedad6;
}

body {
    margin: 0;
    font-family: var(--paragraph-font), sans-serif;
    height: 800px;
}

header {
    font-family: var(--heading-font), serif;
    font-weight: 200;
    background-color: #b0ccc0;
    height: 100vh;
}

.grid_system {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal width columns */
}

.main_pic {
  grid-column: 1; /* Place first item in the first column */
}

.intro {
  grid-column: 2; /* Place second item in the second column */ 
}